<h1>...</h1>
<div class="mx-2">
    <form #cartForm="ngForm"><table class="table table-bordered table-striped p-a-1">
        <thead>
            <tr>
                <th>Product</th>
                <th class="fit">Price</th>
                <th class="fit">Quantity</th>
                <th class="text-xs-right fit">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="cart.lines.length == 0">
                <td colspan="4" class="text-xs-center">
                    Your cart is empty
                </td>
            </tr>
            <tr *ngFor="let line of cart.lines">
                <td translate>STORE.PRODUCTS.{{ line.product.sku }}</td>
                <td>{{line.product.price | currency:"EUR":true:"1.0-2"}}</td>
                <td>
                    <input type="number" class="form-control-sm px-1" 
                           style="width:3.5rem" 
                           [(ngModel)]="line.quantity" [name]="line.product.sku" />
                </td> 
                <td class="text-xs-right">
                    {{ line.lineTotal | currency:"EUR":true:"1.0-2" }}
                </td>
            </tr>
            <tr>
              <td colspan="4">
                    <a routerLink="/delivery">
                        DELIVERY
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </a>
                    <a routerLink="/map">
                        MAP
                        <i class="fa fa-map-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-xs-right">Total:</td>
                <td colspan="1" class="text-xs-right table-info">
                    {{cart.totalCartPrice | currency:"EUR":true:"1.0-2"}}
                </td>
            </tr>
        </tfoot>
    </table></form>
</div>