<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
        <div class="card card-outline-primary text-xs-center mt-2" *ngFor="let product of products">
          <h3 class="card-header hidden-xs-down" translate>STORE.PRODUCTS.{{ product.sku }}</h3>
          <h6 class="card-header hidden-sm-up" translate>STORE.PRODUCTS.{{ product.sku }}</h6>
          <div class="card-block">
            <div class="row">
              <div *ngIf="product.pictures.length>0" class="col-12 col-sm-6">
                <img style="width:100%; display:block;" class="mx-auto" [src]="product.pictures[0]" alt="salmon caviar tin, 200g">
              </div>
              <div class="col text-center">
                    <h4 class="card-title mb-1"><strong>{{ product.price | localeCurrency:defaultLocale:currency:true:"1.0-2" }}</strong></h4>
                    <h5 class="card-title small mb-1">{{ 'STORE.valueNames.'+product.valueName| translate:lang }}: {{ product.valueUnits | localeDecimal:defaultLocale:'1.0-2' }} {{ product.referenceMesure }}</h5>
                    <h6 class="card-title text-muted small">{{ product.price/product.valueUnits | localeDecimal:defaultLocale:'1.0-2' }} {{ currency }}/{{ product.referenceMesure }}</h6>
                    <br />
                    <button type="button" class="btn btn-success btn-lg" (click)="addProductToCart(product)">
                      <i class="fa fa-cart-plus"></i> <span translate>STORE.addToCart</span>
                      <small *ngIf="itemsInCart(product) as itemCount">[ {{ itemCount }} ]</small>
                    </button>
                </div>
            </div>
          </div>
          <div class="card-block">
            <a routerLink="/cart" class="card-link" [ngClass]="{'invisible' : cartPrice() <= 0 }">
              Checkout ({{ cartPrice() | localeCurrency:defaultLocale:currency:true:"1.0-2" }})
              <i class="fa fa-credit-card" aria-hidden="true"></i>
            </a>
            <a href="#" class="card-link invisible">Login</a>
          </div>
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
          </div>          
      </div>      
    </div>
    <div class="col">
        <address>
          <strong>Authentic Russian Caviar</strong>
          <br />Corso Venezia, 3
          <br /><span translate>Milan</span>, <span translate>COUNTRY.IT</span>
          <br /><abbr title="Phone">Tel.</abbr>: <a href="tel:+39 0287159490">+39 0287159490</a>
        </address>
    </div>
  </div>
</div>