<div class="container" style="padding-top: 5rem;">
  <div class="row">
    <div class="col-12 col-lg-8">
        <div class="card card-outline-primary text-xs-center">
          <h3 class="card-header hidden-xs-down" translate>STORE.PRODUCTS.salmon_cav_200g</h3>
          <h6 class="card-header hidden-sm-up" translate>STORE.PRODUCTS.salmon_cav_200g</h6>
          <div class="card-block">
            <div class="row">
              <div class="col-12 col-sm-7">
                <img style="width:10rem; display:block;" src="/assets/images/chase.jpg" alt="salmon caviar tin, 200g">
              </div>
              <div class="col text-center">
                    <h4 class="card-title mb-0"><strong>&euro;21.40</strong></h4>
                    <h6 class="card-title text-muted small">107 EUR/kg</h6>
                    <br />
                      <button type="button" class="btn btn-primary btn-lg" (click)="translate.use('es')">
                        <i class="fa fa-cart-plus"></i> <span translate>STORE.addToCart</span>
                      </button>
                </div>
            </div>
          </div>
          <div class="card-block">
            <a href="#" class="card-link invisible">Checkout</a>
            <a href="#" class="card-link invisible">Login</a>
          </div>
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
          </div>          
      </div>      
    </div>
    <div class="col">
        <address>
          <strong>Authentic Russian Caviar</strong>
          <br />Corso Venezia, 3
          <br />Milano, Italia
          <br /><abbr title="Phone">Tel.</abbr>: +39 0287159490
        </address>
    </div>
  </div>
</div>