<div *ngFor="let product of products" class="card card-outline-primary">
    {{ product }}
</div>
<div>
<div class="btn-group" dropdown>
  <button type="button" class="btn btn-danger">Action</button>
  <button type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split">
    <span class="caret"></span>
    <span class="sr-only">Split button!</span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#" (click)="changeStyle($event)">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
    </li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else
      here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul>
</div>
</div>


<pre class="card card-block card-header">{{radioModel || 'null'}}</pre>
<div class="btn-group">
  <label class="btn btn-primary" [(ngModel)]="radioModel"
         btnRadio="Left">Left</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Middle">Middle</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel"
         btnRadio="Right">Right</label>
</div>
<div class="btn-group">
  <label class="btn btn-success" [(ngModel)]="radioModel" btnRadio="Left"
         uncheckable>Left</label>
  <label class="btn btn-success" [(ngModel)]="radioModel" btnRadio="Middle"
         uncheckable>Middle</label>
  <label class="btn btn-success" [(ngModel)]="radioModel" btnRadio="Right"
         uncheckable>Right</label>
</div>