<form #searchAddress="ngForm" (ngSubmit)="onSubmit(searchAddress)">
    <label for="addressToLocation" translate>ADDRESS.addressToLocation</label>
    <div class="input-group">
        <input class="form-control form-control-warning" id="addressToLocation" name="addressToLocation"
            type="search"
            aria-describedby="addressToLocationHelp"
            [(ngModel)]="addressToLocation" placeholder="type address" autofocus />
        <span class="input-group-btn"><button class="btn btn-primary" type="submit">
            <i class="fa fa-search"></i>
        </button></span>
    </div>
    <small id="addressToLocationHelp" class="form-text text-muted" [innerHTML]="'ADDRESS.HELP.addressToLocation'" translate></small>
    <!--input type="submit" style="visibility:hidden;position:absolute" /-->	
</form>