<form #searchAddress="ngForm" (ngSubmit)="onSubmit(searchAddress)">
    <label for="addressToLocation" translate>ADDRESS.addressToLocation</label>
    <input class="form-control form-control-warning" id="addressToLocation" name="addressToLocation"
        type="search"
        aria-describedby="addressToLocationHelp"
        [(ngModel)]="addressToLocation" placeholder="Type delivery address" autofocus />
    <small id="addressToLocationHelp" class="form-text text-muted" [innerHTML]="'ADDRESS.HELP.addressToLocation'" translate></small>
    <!--input type="submit" style="visibility:hidden;position:absolute" /-->	
</form>