<div style="height:100%">
<div style="float: left; width:30rem;">
    <div class="container">
        <form #addressForm="ngForm">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="fullAddress">Full address</label>
                <textarea class="form-control" id="fullAddress" rows="3" name="fullAddress" [(ngModel)]="addrService.address"></textarea>
            </div>
        </form>
    </div>
</div>
<div style="height:100%">
    <router-outlet></router-outlet>
</div>
</div>