<div style="height:100%">
<div style="float: left; width:30rem;">
    <div class="container">
    	<p><span translate>HELLO</span> We deliver the goods to <strong>EU</strong> and <dfn><abbr title="European Free Trade Association: Switzerland, Norway, Iceland and Liechtenstein">EFTA</abbr></dfn> countries</p> 
        <address-geocoding></address-geocoding>
		<form #addressForm="ngForm" class="pt-3">			
			<div class="row">
				<div class="col-6 pr-1">
					<input type="text" class="form-control" id="route" name="route"
						placeholder="street name" aria-describedby="streetNameHelp"
						[ngModel]="geocodeAddress.route" />
					<small id="streetNameHelp" class="form-text text-muted">street name</small>
				</div>
				<div class="col-3 px-1">
					<input type="text" class="form-control" id="buildingNumber" name="buildingNumber"
						aria-describedby="buildingNumberHelp" placeholder="num." 
						[ngModel]="geocodeAddress.buildingNumber">
					<small id="buildingNumberHelp" class="form-text text-muted">building number</small>
				</div>
				<div class="col-3 pl-1 has-warning">
					<input type="text" class="form-control" id="room_number" aria-describedby="roomNumberHelp" placeholder="num.">
					<small id="roomNumberHelp" class="form-text text-muted">room or flat</small>
				</div>
			</div>
			<div class="row">
				<div class="col-3 pr-1">
					<label for="postalCode" translate>ADDRESS.postal_code</label>
					<input type="text" class="form-control" id="postalCode" name="postalCode"
						aria-describedby="postalCodeHelp" [placeholder]="translationService.translate('ADDRESS.postal_code')"
						[ngModel]="geocodeAddress.postalCode" />
				</div>
				<div class="col-5 px-1">
					<label for="locality" translate>ADDRESS.locality</label>
					<input type="text" class="form-control form-control-warning" id="locality" name="locality"
						 [placeholder]="translationService.translate('ADDRESS.locality')"
						 [ngModel]="geocodeAddress.locality">
				</div>
				<div class="col-4 pl-1">
					<label for="areaLevel2" translate>ADDRESS.administrative_area_level_2</label>
					<input type="text" class="form-control" id="areaLevel2" name="areaLevel2"
						aria-describedby="areaLevel2Help" [placeholder]="translationService.translate('ADDRESS.administrative_area_level_2')"
						[ngModel]="geocodeAddress.areaLevel2Short">
					<small id="areaLevel2Help" class="form-text text-muted" *ngIf="geocodeAddress.areaLevel2">{{ geocodeAddress.areaLevel2 }}</small>
				</div>
			</div>
			<div class="row">
				<div class="col pr-1">
					<label for="areaLevel1" translate>ADDRESS.administrative_area_level_1</label>
					<input type="text" class="form-control" id="areaLevel1" name="areaLevel1"
						aria-describedby="areaLevel1Help" [placeholder]="translationService.translate('ADDRESS.administrative_area_level_1')"
						[ngModel]="geocodeAddress.areaLevel1">
					<small id="areaLevel1Help" class="form-text text-muted" translate>ADDRESS.help.administrative_area_level_1</small>
				</div>
				<div class="col pl-1">
					<label for="country" translate>ADDRESS.country</label>
					<select class="form-control form-control-warning" id="country" name="country"
							aria-describedby="countryHelp"
							[ngModel]="geocodeAddress.countryCode">						
						<option *ngFor="let c of countries" [ngValue]="c.code">{{ c.name }}</option>
						<option value="">EU/EFTA country</option>
					</select>
					<small id="countryHelp" class="form-text text-muted" translate>ADDRESS.help.country</small>
				</div>
			</div>
			<div *ngIf="addrService.address" class="alert alert-info justify-content-center">
				{{ addrService.addressAsJson() }}
				<address>
					<strong>Authentic Russian Caviar</strong>
					<br />Corso Venezia 3
					<br />20133 Milano MI 
					<br />ITALIA
					<br /><abbr title="Phone">Tel.</abbr>: +39 0287159490
				</address>
				<button type="button" class="btn btn-outline-info">Address is all right!</button>
			</div>
		</form>
	</div>
</div>
<div style="height:100%">
    <router-outlet></router-outlet>
</div>
</div>