*::-webkit-input-placeholder {
    color: Tan;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: Tan;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: Tan;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: Tan;
}
.delivery-pane {
    width: 100%;
}
@media(min-width:768px){
    .delivery-pane {
        width: 30rem;
    }
}