<ng-container *ngIf="isVisible">
<div class="row" [hidden]="disableQuoteButton">
  <div class="col text-center mt-5">
    <button (click)="updateShipmentQuotes()" class="btn btn-primary">Calculate shipment</button>
  </div>
</div>
<div class="row" [hidden]="true">
  <div class="col">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
    </div>
  </div>
</div>	
<ng-container *ngIf="disableQuoteButton && quotations.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th>Price</th>
        <th>Delivery date</th>
        <th>Service</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let quote of quotations">
      <tr>
        <td>{{quote.price | localeCurrency:defaultLocale:quote.priceCurrency:true:"1.0-2" }}</td>
        <td>{{quote.deliveryDate}}</td>
        <td>{{quote.courierSlug}} {{quote.serviceName}}</td>
      </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>
</ng-container>