<div #finalAddressForm *ngIf="address" class="alert alert-info justify-content-center mt-5">
<div *ngFor="let line of address;" class="row">
  <ng-container *ngIf="!line.result">    
    <div *ngFor="let field of line.fields" class="col">
      <div class="form-group" [ngClass]="{'form-group': true,'has-warning': !line.optional }">
        <label [for]="field"><small class="form-text text-muted" translate>{{field}}</small></label>      
        <input [name]="field" [ngClass]="{'form-control':true, 'form-control-sm': true, 'form-control-warning': !line.optional }" [id]="field" [placeholder]="getFieldTranslation(field)" />
      </div>
    </div>
  </ng-container>     
  <div *ngIf="line.result" class="col">{{line.result}}</div>
</div>
</div>