<nav class="fixed-top navbar-inverse bg-primary">
  <a class="navbar-brand float-left mr-3" routerLink="/">
    <div class="hidden-xs-down">
      <img src="/assets/images/001-caviar.svg" style="width:1.5rem; height: 1.5rem;" alt="CaviarExpert.eu logo" />
      <span>CaviarExpert.eu</span>
    </div>
    <i class="fa fa-home hidden-sm-up"></i>
  </a>
  <lang-selector></lang-selector>
<!--
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>
-->
  <div class="float-right"><ul class="nav ml-auto">
    <!--
    <li class="nav-item">
      <theme-choose></theme-choose>
    </li>
    -->
    <li class="nav-item">
      <cart-summary></cart-summary>
    </li>
  </ul></div>  
</nav>
