<nav class="fixed-top navbar-inverse bg-primary">
  <div class="float-left mr-3">
    <a class="navbar-brand float-left mr-3" routerLink="/">
      <img src="/assets/images/001-caviar.svg" class="hidden-xs-down" style="width:1.5rem; height: 1.5rem;" alt="CaviarExpert.eu logo" />
      <span class="hidden-xs-down">cve</span>
      <i class="fa fa-home hidden-sm-up"></i>
    </a>
  </div>
  <lang-selector></lang-selector>
<!--
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>
-->
  <div class="float-right"><ul class="nav ml-auto">
    <div class="tp-box__side tp-box__front">
    <a class="btn btn-primary" routerLink="/payment">
      <i class="fa fa-cc-stripe"></i>
    </a>
  </div>
    <!--
    <li class="nav-item">
      <theme-choose></theme-choose>
    </li>
    -->
    <li class="nav-item">
      <cart-summary></cart-summary>
    </li>
  </ul></div>  
</nav>
